<!DOCTYPE html>
<html>

<head>
    <title>Stoic Focus Options</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/popup.css" />
    <link rel="stylesheet" href="../styles/options.css" />
</head>

<body>
    <div class="options__body">
        <div class="options__container">
            <div class="options_row bottom__margin--small">
                <div class="flex-column bottom__margin--small">
                    <label class="options__label" for="timer">Popup Display Time (seconds) </label>
                    <input class="options__input" type="number" id="timer" name="timer" />
                </div>
                <label>
                    <span class="options__label">Timer Off</span>
                    <input type="checkbox" id="timerOff" />
                </label>
                <label>
                    <span class="options__label">Full Page Popup</span>
                    <input type="checkbox" id="fullscreen" />
                </label>
                <label>
                    <span class="options__label">Close Popup Btn</span>
                    <input type="checkbox" id="closePopupBeforeTimer" />
                </label>
                <label>
                    <span class="options__label">Opaque Popup</span>
                    <input type="checkbox" id="opaque" />
                </label>
                <label>
                    <span class="options__label">Stoic Quotes</span>
                    <input type="checkbox" id="stoicQuotes" />
                </label>
                <label>
                    <span class="options__label">View Counter</span>
                    <input type="checkbox" id="viewCounter" />
                </label>
            </div>
            <div class="options_row">
                <div class="options__btn__container">
                    <button class="options__btn" id="save">Save Settings</button>
                </div>
                <div id="status" class="hidden">No Status Update</div>
            </div>
        </div>

        <div id="options__popups__siteList">
            <div id="options__popups__siteList__table"></div>
        </div>
        <script src="../services/formatDate.js" type="module"></script>
        <script src="./options.js" type="module"></script>
    </div>
</body>

</html>