<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/popup.css">
</head>

<body>
  <div id="header">
    <img class="header__image" src="../images/stoic64.png" />
    <div class="header__text">
      <div class="header__title">STOIC FOCUS</div>
      <div class="header__msg">Create personal popup warnings for sites that distract you</div>
    </div>
  </div>
  <div id="siteInfo"></div>
  <script src="popup.js"></script>
</body>

</html>