.content_stoicFocus * {
    all: unset;
}

.content_stoicFocus {
    background: #222;
    display: flex;
    position: sticky;
    top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    /* border: 3px solid #111;
    border-color: #111; */
    color: #777;
    z-index: 2147483647 !important;
    opacity: 0.95;
}

.content_stoicFocus.content_stoicFocus--opaque {
    opacity: 1 !important;
}

.content_stoicFocus__Fullscreen {
    height: 100vh;
}

.content_stoicFocus__hidden {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.content_stoicFocus__msgInner {
    width: 100%;
}

.content_stoicFocus__contentDiv {
    display: flex;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.content__sf__txt {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: 70%;
}

.content__sf__txt__msg {
    margin-top: 9px;
    font-size: 1.5em;
    color: #f86fa6;
}

.content__sf__txt__site {
    margin: 5px 0px;
    font-size: 0.7em;
    opacity: 0.5;
    overflow: hidden;
    overflow-x: auto;
    display: none;
}

.content__sf__txt__site::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.content__sf__counterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #888;
    margin-left: auto;
    text-align: right;
}

.content__sf__counterDiv__date {
    display: flex;
    flex-direction: column;
}

.content__sf__counterDiv__date__text {
    font-size: 1em;
    opacity: 0.8;
}

.content__sf__counterDiv__date__date {
    font-size: 0.7em;
    border-bottom: 1px solid #777;
}

.content__sf__counterDiv__visits {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
    align-items: flex-end;
}

.content__sf__counterDiv__visits_num {
    font-size: 3rem;
    color: #999;
}

.content__sf__counterDiv__visits_text {
    font-size: 0.9em;
    margin-top: 10px;
    text-align: right;
}

.content__sf__timer {
    font-size: 0.8em;
    padding: 0px 10px;
    letter-spacing: 1px;
}

.content__sf__timer__time {
    color: #888;
    opacity: 0.8;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 1px solid #777;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #f5689f;
    border-bottom: 15px solid transparent;
    opacity: 0.9;
    margin-top: 11px;
    /* margin-left: -2px; */
}

.footer__div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__div__Fullscreen {
    padding: 50px;
}

.close__btn {
    display: inline-block;
    /* padding: 0.3em 1.65em 0.3em calc(1.65em - 3px); */
    border: 2px;
    margin: 0;
    text-decoration: none;
    /* background: #f86fa6; */
    /* color: #111; */
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6em;
}

.content_stoicfocus_img {
    width: 108px !important;
    height: 108px !important;
}

.content__sf__stoicquote__div {
    margin-top: 15px;
}

.content__sf__stoicquote__quote {
    font-size: 0.8rem;
    font-style: italic;
    color: darkgrey;
}
