body {
    min-height: 94vh;
    border: none !important;
}

.options__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
}

.options__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

label {
    margin-right: 30px;
}

/* .options__label {
    padding-right: 10px;
} */

.options__row {
    display: flex;
    flex-direction: row;
}

.bottom__margin--small {
    margin-bottom: 9px;
}

#options__popups__siteList {
    margin-bottom: 40px;
}

#options__popups__siteList__table {
    display: flex;
    flex-direction: column;
}

.options__popups_sitelist__li {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 3fr 3fr 1fr;
    margin-top: 15px;
}

.options__popups_sitelist__li__url {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
}

.options__popups_sitelist__li__msg {
    margin-left: 10px;
    color: rgb(180, 180, 180);
}

.options__popups__header {
    color: #f86fa6;
    border-bottom: 2px solid #f86fa6;
}

.options__btn__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.options__btn {
    margin-top: 10px;
    margin-right: 10px;
    transition: 1s;
}

.options__btn--save {
    background-color: rgb(36, 240, 213) !important;
}

#status {
    text-transform: capitalize;
    color: rgb(36, 240, 213);
    margin-top: 10px;
    opacity: 1;
}

#status.hidden {
    opacity: 0;
}

.no-margin-top {
    margin-top: 0;
}

.small-margin-bottom {
    margin-bottom: 10px;
}
